<p id="notice"><%= notice %></p>

<h2 class="NewForm">Create a New Zone:</h2>
<%= form_with model: @zone, url: zones_path do |form| %>
  <%= form.text_field :zone %>
  <%= form.submit %>
<% end %>

<div>
  <h2>Zones Created On The System System:</h2>
    <% @zones.each do |zone| %>
      <ul>
        <li><%= link_to zone.zone, zone %></li>
          <ol>
          <% zone.records.each do |record| %>
            <li><%= record.name %></li>
          <%end %>
          </ol>
      </ul>
    <% end %>
</div>

<div>
  <h1>Complete List of Active Zones:</h1>
    <ul> <% @json.each do |object| %>
      <li><%= object["zone"] %></li>
      <% end %>
    </ul>
</div>



