<p id="notice"><%= notice %></p>

<p>
  <strong>Zone:</strong>
  <%= @zone.zone %>
</p>

<h2>Create A New Record For This Zone:</h2>
<%= form_with model: @zone.records.new, url: zone_records_path(@zone), local: true do |form| %>

  <%= form.text_field :name %>
  <%= form.submit %>
<% end %>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
